trace {
    enabled = true
    file = 'execution_trace.txt'
}

executor {
    name = 'lsf'
    perJobMemLimit = true
}

process {

    executor = 'lsf'
    queue = 'normal'
    cpus = 16
    memory = '4.0 GB'
    time = '12h'
    clusterOptions = "-R'select[mem>4096]' -R'rusage[mem=4096]' -M4096"
    conda = '/lustre/scratch119/humgen/projects/gains_team282/nikhil/conda/env/'

    withLabel: R {
        cpus = 1
        memory = '16.0 GB'
        time = '12h'
        clusterOptions = "-R'select[mem>16384]' -R'rusage[mem=16384]' -M16384"
    }

    withLabel: simple_bash {
        cpus = 1
        memory = '16.0 GB'
        time = '12h'
        clusterOptions = "-R'select[mem>16384]' -R'rusage[mem=16384]' -M16384"
    }
    
    withLabel: cheers {
        cpus = 2
        memory = '4.0 GB'
        time = '12h'
        clusterOptions = "-R'select[mem>4096]' -R'rusage[mem=4096]' -M4096"
    }

    withLabel: goshifter {
        cpus = 2
        memory = '16.0 GB'
        time = '12h'
        clusterOptions = "-R'select[mem>16384]' -R'rusage[mem=16384]' -M16384"
        conda = '/lustre/scratch119/humgen/projects/gains_team282/nikhil/conda/goshifter/'
    }
}