trace {
    enabled = true
    file = 'execution_trace.txt'
}

executor {
    name = 'lsf'
    perJobMemLimit = true
}

process {

    executor = 'lsf'
    queue = 'normal'
    cpus = 16
    memory = '4.0 GB'
    time = '12h'
    clusterOptions = "-R'select[mem>4096]' -R'rusage[mem=4096]' -M4096"
    conda = '/lustre/scratch119/humgen/projects/gains_team282/nikhil/conda/env/'

    withLabel: simple_bash {
        cpus = 1
        memory = '16.0 GB'
        time = '12h'
        clusterOptions = "-R'select[mem>16384]' -R'rusage[mem=16384]' -M16384"
    }

    withLabel: multi_cpu_bash {
        cpus = 16
        memory = '16.0 GB'
        time = '12h'
        clusterOptions = "-R'select[mem>16384]' -R'rusage[mem=16384]' -M16384"
    }

    withLabel: dump_fastq {
        cpus = 8
        memory = '4.0 GB'
        time = '12h'
        clusterOptions = "-R'select[mem>4096]' -R'rusage[mem=4096]' -M4096"
    }

    withLabel: index_star {
        cpus = 16
        time = '12h'
        memory = '128.0 GB'
        clusterOptions = "-R'select[mem>131072]' -R'rusage[mem=131072]' -M131072"
    }

    withLabel: index_bowtie2 {
        cpus = 16
        time = '12h'
        memory = '128.0 GB'
        clusterOptions = "-R'select[mem>131072]' -R'rusage[mem=131072]' -M131072"
    }

    withLabel: fastqc {
        cpus = 16
        memory = '5.0 GB'
        time = '12h'
        clusterOptions = "-R'select[mem>5120]' -R'rusage[mem=5120]' -M5120"
    }

    withLabel: trim_galore {
        cpus = 8
        memory = '4.0 GB'
        time = '12h'
        clusterOptions = "-R'select[mem>4096]' -R'rusage[mem=4096]' -M4096"
    }

    withLabel: star {
        cpus = 16
        time = '12h'
        memory = '120.0 GB'
        clusterOptions = "-R'select[mem>122880]' -R'rusage[mem=122880]' -M122880"
    }

    withLabel: bowtie2 {
        cpus = 16
        time = '12h'
        memory = '80.0 GB'
        clusterOptions = "-R'select[mem>81920]' -R'rusage[mem=81920]' -M81920"
    }

    withLabel: picard {
        cpus = 8
        memory = '16.0 GB'
        time = '12h'
        clusterOptions = "-R'select[mem>16384]' -R'rusage[mem=16384]' -M16384"
    }

    withLabel: samtools {
        cpus = 16
        memory = '20.0 GB'
        time = '12h'
        clusterOptions = "-R'select[mem>20480]' -R'rusage[mem=20480]' -M20480"
    }

    withLabel: macs2 {
        queue = 'normal'
        cpus = 16
        memory = '4.0 GB'
        time = '12h'
        clusterOptions = "-R'select[mem>4096]' -R'rusage[mem=4096]' -M4096"
    }

    withLabel: featureCounts {
        cpus = 8
        memory = '8.0 GB'
        time = '12h'
        clusterOptions = "-R'select[mem>8192]' -R'rusage[mem=8192]' -M8192"
    }

    withLabel: homer {
        cpus = 16
        memory = '16.0 GB'
        time = '12h'
        clusterOptions = "-R'select[mem>16384]' -R'rusage[mem=16384]' -M16384"
    }

    withLabel: sea {
        queue = 'long'
        cpus = 4
        memory = '32.0 GB'
        time = '48h'
        clusterOptions = "-R'select[mem>32768]' -R'rusage[mem=32768]' -M32768"
    }

    withLabel: multiqc {
        cpus = 4
        memory = '8.0 GB'
        time = '12h'
        clusterOptions = "-R'select[mem>8192]' -R'rusage[mem=8192]' -M8192"
    }

    withLabel: bedtools {
        queue = 'normal'
        cpus = 16
        memory = '16.0 GB'
        time = '12h'
        clusterOptions = "-R'select[mem>16384]' -R'rusage[mem=16384]' -M16384"
    }

    withLabel: qualimap {
        cpus = 16
        memory = '10.0 GB'
        time = '12h'
        clusterOptions = "-R'select[mem>10240]' -R'rusage[mem=10240]' -M10240"
    }

    withLabel: rnaseqc {
        cpus = 1
        memory = '10.0 GB'
        time = '12h'
        clusterOptions = "-R'select[mem>10240]' -R'rusage[mem=10240]' -M10240"
    }

    withLabel: cheers {
        cpus = 2
        memory = '16.0 GB'
        time = '12h'
        clusterOptions = "-R'select[mem>16384]' -R'rusage[mem=16384]' -M16384"
        conda = '/lustre/scratch119/humgen/projects/gains_team282/nikhil/conda/cheers/'
    }
}