trace {
    enabled = true
    file = 'execution_trace.txt'
}

process {

    executor = 'lsf'
    queue = 'normal'
    cpus = 16
    memory = '4.0 GB'
    time = '12h'
    clusterOptions = "-R'select[mem>4096]' -R'rusage[mem=4096]' -M4096"
    conda = '/lustre/scratch119/humgen/projects/gains_team282/nikhil/conda/colocalization'

    withLabel: R {
        queue = 'normal'
        cpus = 4
        memory = '64.0 GB'
        time = '12h'
        clusterOptions = "-R'select[mem>65536]' -R'rusage[mem=65536]' -M65536"
    }

    withLabel: vcftools {
        queue = 'normal'
        cpus = 4
        memory = '8.0 GB'
        time = '12h'
        clusterOptions = "-R'select[mem>8092]' -R'rusage[mem=8092]' -M8092"
    }
}