trace {
    enabled = true
    file = 'execution_trace.txt'
}

executor {
    name = 'lsf'
    perJobMemLimit = true
}

process {

    executor = 'lsf'
    queue = 'normal'
    cpus = 16
    memory = '4.0 GB'
    time = '12h'
    clusterOptions = "-R'select[mem>4096]' -R'rusage[mem=4096]' -M4096"
    conda = '/lustre/scratch119/humgen/projects/gains_team282/nikhil/conda/env/'

    withLabel: simple_bash {
        cpus = 1
        memory = '16.0 GB'
        time = '12h'
        clusterOptions = "-R'select[mem>16384]' -R'rusage[mem=16384]' -M16384"
    }

    withLabel: multi_cpu_bash {
        cpus = 8
        memory = '16.0 GB'
        time = '12h'
        clusterOptions = "-R'select[mem>16384]' -R'rusage[mem=16384]' -M16384"
    }

    withLabel: heritability {
        cpus = 16
        memory = '16.0 GB'
        time = '24h'
        queue = 'long'
        clusterOptions = "-R'select[mem>16384]' -R'rusage[mem=16384]' -M16384"
    }

    withLabel: cheers {
        cpus = 2
        memory = '4.0 GB'
        time = '12h'
        clusterOptions = "-R'select[mem>4096]' -R'rusage[mem=4096]' -M4096"
    }

    withLabel: goshifter {
        queue = 'long'
        cpus = 16
        memory = '8.0 GB'
        time = '48h'
        clusterOptions = "-R'select[mem>8192]' -R'rusage[mem=8192]' -M8192"
    }
}