trace {
    enabled = true
    file = 'execution_trace.txt'
}

executor {
    name = 'lsf'
    perJobMemLimit = true
}

process {

    executor = 'lsf'
    queue = 'normal'
    cpus = 16
    memory = '4.0 GB'
    time = '12h'
    clusterOptions = "-R'select[mem>4096]' -R'rusage[mem=4096]' -M4096"
    conda = '/lustre/scratch119/humgen/projects/gains_team282/nikhil/conda/env/'

    withLabel: multi_cpu_bash {
        queue = 'normal'
        cpus = 16
        memory = '32.0 GB'
        time = '12h'
        clusterOptions = "-R'select[mem>32768]' -R'rusage[mem=32768]' -M32768"
    }

    withLabel: plink {
        queue = 'normal'
        cpus = 4
        memory = '16.0 GB'
        time = '12h'
        clusterOptions = "-R'select[mem>16384]' -R'rusage[mem=16384]' -M16384"
    }

    withLabel: R {
        queue = 'normal'
        cpus = 16
        memory = '16.0 GB'
        time = '12h'
        clusterOptions = "-R'select[mem>16384]' -R'rusage[mem=16384]' -M16384"
    }
}