trace {
    enabled = true
    file = 'execution_trace.txt'
}

executor {
    name = 'lsf'
    perJobMemLimit = true
}

process {

    executor = 'lsf'
    queue = 'normal'
    cpus = 16
    memory = '4.0 GB'
    time = '12h'
    clusterOptions = "-R'select[mem>4096]' -R'rusage[mem=4096]' -M4096"
    conda = '/lustre/scratch119/humgen/projects/gains_team282/nikhil/conda/env/'

    withLabel: python {
        cpus = 2
        memory = '100.0 GB'
        time = '12h'
        clusterOptions = "-R'select[mem>102400]' -R'rusage[mem=102400]' -M102400"
    }
}